* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      min-height: 100vh;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
     }
    .logo {
      font-size: 24px;
      font-weight: bold;
      color:#00C897;
    }
    .signup-btn {
      padding: 12px 25px;
      background-color: #00c821;
      color: #000 blue;
      border-radius: 15px;
      cursor: pointer;
      font-size: 20px;
      
    }
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 80vh;
    }
    .banner h1 {
      font-size: 36px;
      max-width: 600px;
      margin-bottom: 20px;
      color: black;
    }
    .focus-btn {
      padding: 12px 25px;
      background-color: #00C897;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }
   .logo,.signup-btn, .navbar,.banner{
    background-image: url(../Assets/Hero-bg.png);
  }
    .preview-section {
        display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: whitesmoke;
    }
  
  .preview-section h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.preview-section p {
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.preview-btn {
  padding: 12px 25px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.preview-section h2,.preview-section p,.preview-btn{
    text-decoration: solid;
  }
img{
    border-radius: 70px;
    }
.stats-section {
  background-color:rgb(129, 129, 143);
  color: white;
  padding: 60px 10px;
  text-align: center;
}

.stats-section h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.stat-block {
  min-width: 120px;
}

.stat-block h3 {
  font-size: 25px;
  color: #0d00c8;
  margin-bottom: 10px;
}

.stat-block p {
  font-size: 12px;
}
.testimonial-section {
  padding: 80px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  text-align: center;
}

.testimonial-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #0f0f0f;
}

.testimonial-section .subtitle {
  font-size: 20px;
  margin-bottom: 40px;
  color: #00C897;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonial-card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.review-footer {
  display: inline-flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.8;
}
.testimonial-card .std {
  font-size: 8px;
}
.cta-section {
  background-color: rgba(228, 207, 207, 0.9);
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.cta-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-section .quote {
font-size: 15px;
  color: blueviolet;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 14px 30px;
  background-color: #0014c8;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #00b185;
}

.contact-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 80px 20px;
  color: white;
  text-align: center;
  display: flex;
}

.contact-section h2 {
  color: #00c8c8;
  font-size: 32px;
  margin-bottom: 60px;


}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #1a1a1a;
  color: white;
}
.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}
.contact-form button {
  background-color: #71c800;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form button:hover {
  background-color: #b10009;
}
.footer {
  background-color: #0f0f0f;
  padding: 60px 20px;
  }
.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-left {
  max-width: 500px;
}
.footer-logo {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 15px;
  color: brown;
}
.footer-text {
  font-size: 10px;
  line-height: 1.6;
  color: #ccc;
}
.footer-right .footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 8px;
  display: inline-table;
  }
.footer-links a {
  color: #4600c8;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #00b185;
}
